@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100&family=Roboto:wght@100;400&display=swap'); 

body {
    font-family: 'Lato', sans-serif;
} 
#full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}
.data-field {
    height: 5%;
} 
.data-field > input {
    border: 2px solid #d3eaf2;
    border-radius: 1px; 
    height: 15px;
}
.data-field > button {
    border: none;
    background: #2596be; 
    width: 50px; 
    height: 20px;
    margin-left: 10px; 
    border-radius: 2px;
}
#pending-tasks {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 47.5%;
    width: 500px;
    row-gap: 10px;

}
#completed-tasks {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 47.5%;
    width: 500px; 
    row-gap: 10px;
}
input {
    width: 200px;
}
input::placeholder {
    font-style: italic;
}
.tasks {
    display: inline; 
    background: #2596be;
    width: 50%; 
    height: 12%;
    border-radius: 2px;
    padding-top: 12px;
    padding-left: 12px;
}
.tasks-input {
    width: 10px;
} 
.tasks-button {
    border: none;
    color: rgb(65, 58, 58);
    background: #2596be;
} 
button:hover {
    cursor: pointer;
}

